<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table border="1">
            <tr>
                <td>District</td>
                <td><select name="district" id="select">
                    <option value="TH">Thrissur</option>
                    <option value="EKM">Ernakulam</option>
                    <option value="AG">Angamaly</option>
                    <option value="PE">Perumbi</option>
                </select></td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Save"><input type="reset" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>