<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
<body>
	<form action=""  method="">
        <table border="2">
			<tr>
				<td>First Name</td>
				<td colspan ="2"><input type="text" name="txtfname" placeholder="First name"></td>
			</tr>
			
			<tr>
				<td>Last Name</td>
				<td colspan ="2"><input type="text" name="txtlname" placeholder="Last name"></td>
			</tr>

			<tr>
				<td>Gender</td>
				<td><input type="radio" id="male" name="gender" value="Male">Male</td>
				<td><input type="radio" id="female" name="gender" value="Female">Female</td>
			</tr> 

			<tr>
				<td>Contact</td>
				<td colspan ="2"><input type="text" name="txtcontact" placeholder="Contact" maxlength="10"></td>
			</tr>

			<tr>
				<td>Email</td>
				<td colspan ="2"><input type="text" name="txtemail" placeholder="Password"></td>
			</tr>

			<tr>
				<td>Password</td>
				<td colspan ="2"><input type="password" name="password" placeholder="Enter password"></td>
			</tr>

			<tr>
				<td>Confirm Password</td>
				<td colspan ="2"><input type="password" name="password" placeholder="Contact"></td>
			</tr>
			
			<tr>
				<td>DOB</td>
				<td colspan ="2"><input type="date" name="dob" "></td>
			</tr>

			<tr>
				<td>Address</td>
				<td colspan ="2"><textarea rows="3" cols="20" name="address"></textarea></td>
			</tr>

			<tr>
				<td>Security Question</td>
				<td colspan="2"><select name="secq" id="sq">
        						<option value="city">What city were you born in?</option>
       							<option value="concert">What was the first concert you attended?</option>
        						<option value="town">In what city or town did your parents meet?</option>
        						<option value="vehicle">What was the make and model of your first vehicle?</option>
        						<option value="pet">What was the name of your favorite childhood pet</option>
        						<option value="nickname">What was your childhood best friend’s nickname?</option>
        						<option value="author">Who is your favourite author</option>
     	 					</select></td>
			</tr>		

			<tr>
				<td>Answer</td>
				<td colspan ="2"><input type="text" name="txtans" placeholder="Enter Answer"></td>
			</tr>		
			
			<tr>
				<td>Pincode</td>
				<td colspan ="2"><input type="text" name="txtpin" placeholder="Pincode	" maxlength="6"></td>
			</tr>

			<tr>
				<td>Photo</td>
				<td colspan ="2"><input type="file" id="img" name="img" accept="image/*"></td>
			</tr>

			<tr>
				<td> <input type="checkbox" id="agree" name="agree" required></td>
				<td colspan ="2">I agree to the terms and conditions</td>
			</tr>
			
			<tr>
				<td colspan=3 align="center"><input type="submit" id="submitButton" ><input type="reset" value="Cancel">
						</td>
			</tr>
	</table>
			
</html>	
			
			